<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<a href="/logout">Logout</a>
    <h1>List of USER</h1>
    <div th:switch="${users}">
        <h2 th:case="null">No users found</h2>
        <div th:case="*">
            <h2>Users</h2>
            <table style="text-align: center">
                <thead>
                    <tr>
                        <th>USER_ID</th>
                        <th>USER_NAME</th>
                        <th>USER_PASS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.password}"></td>
                        <td><a th:href="@{edit/{id}(id=${user.id})}">Edit</a></td>
                        <td><a th:href="@{delete/{id}(id=${user.id})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><a th:href="@{/admin/add}">Add user</a></p><br>
        <a th:href="@{/user/user}">User page</a>
    </div>
</body>
</html>